ADMIN_USERNAME=admin
ADMIN_PASSWORD=12345
ADMIN_TELEGRAM_ID=
STAFF_TELEGRAM_IDS=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_NAME=tinaborke
TELEGRAM_IMPORT_MODE=bot_api
BASE_URL=http://127.0.0.1:8000
DATABASE_URL=tinaborke.db
SECRET_KEY=change_this_secret
