ADMIN_USERNAME=admin
ADMIN_PASSWORD=12345
ADMIN_TELEGRAM_ID=
STAFF_TELEGRAM_IDS=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
BASE_URL=http://127.0.0.1:8000
DATABASE_URL=tinaborke.db
SECRET_KEY=change_this_secret
